body{
    max-width: 100vw;
}

header{
    background-color: blue;
    color:antiquewhite;
    text-align: center;
    margin: 0 auto;
    border: 5px solid #cf1010;
    padding: 16 px

}

main{
    background-color: #FFFFFF;
    color: #183C63;
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
img{
    width:80 px;
    height: 80 px;
}
article{
    display : flex;
    border: 1px solid #183C63;
    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;
}

.artigo-autor{
    font-weight: bold;
}

.post-meta{
  font-size:0,9rem;
  color:bisque;
  margin-bottom: 20px;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}
.data-destaque{
  font-weight:000;
  color: #183C63;
  background-color: #eee;
  padding: 2px 0px;
  border-radius: 4px;

  
}

.relogio-post{
    display: inline block;
    font-family:'Courier New', Courier, monospace;
    font-size: 1,2rem;
    font-weight: bold;
    color:black;
    background-color: #efefef;
    padding: ;
}